<div id="short-description">
  <div id="typewriter">
    <p id="welcome-2-msg">Hi, I’m Cristian. Nice to meet you!</p>
    <p>22 years old student.</p>
    <p>
      I am enthusiastic, responsible, and technically skilled candidate with
      good problem - solving abilities,self-motivated and self-directed.
    </p>
    <p>
      I am able to stay focused on the ultimate goal and continue to work toward
      that result. Productive in both self-managed and team-based projects .
    </p>
    <p>
      Quickly learn new technologies and paying big attention to details.I am
      able to work well under pressure,to accomplish tasks under minimal
      direction and supervision and to adhere to strict deadlines.
    </p>
    <p>
      Currently very interested in Artificial Intelligence, Mobile Applications
      on Android, Full stack Web Developement and Games Development ( with Unity
      ).
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 d-flex">
      <div class="mb-3 box-shadow align-items-center">
        <img class="icon" src="./assets/images/gamepad.png" alt="game-icon" />
      </div>
    </div>
    <div class="col-md-3 d-flex">
      <div class="mb-3 box-shadow align-items-center">
        <img class="icon" src="./assets/images/web.png" alt="full-stack-icon" />
      </div>
    </div>
    <div class="col-md-3 d-flex">
      <div class="mb-3 box-shadow align-items-center">
        <img
          class="icon"
          src="./assets/images/android.png"
          alt="android-dev-icon"
        />
      </div>
    </div>
    <div class="col-md-3 d-flex">
      <div class="mb-3 box-shadow align-items-center">
        <div class="h-100 d-flex">
          <img
            class="icon align-self-center"
            style="margin-left: 25%"
            src="./assets/images/AI.png"
            alt="artificial-intelligence-icon"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="skills">
    <div class="col-md-3 d-flex">
      <div class="card mb-3 box-shadow align-items-center">
        <div class="card-body">
          <div class="h4">Game Developer on Unity</div>
          <p>
            Game Development is a just hobby right now,however I can make a good
            indie game in Unity.
          </p>
          <div class="h5">Languages I speak:</div>
          <ul>
            <li>C#</li>
          </ul>
          <div>Some of my games on Unity</div>
          <img
            style="border-radius: 5%"
            class="image-in-skills-table mt-5"
            src="./assets/images/game_screenshot.jpg"
            alt="game-screenshot"
          />
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex">
      <div class="card mb-3 box-shadow align-items-center">
        <div class="card-body">
          <div class="h4">Full-stack Web Developer</div>
          <p>
            I like to code things from scratch, and enjoy bringing ideas to life
            in the browser.
          </p>
          <div class="h5">Languages I speak:</div>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>C# (.NET framework)</li>
            <li>React framework</li>
            <li>Java (Vaadin, Spring)</li>
          </ul>
          <div>Some projects:</div>

          <div>//Todo project (to do is the name of the project)</div>
          <img
            class="image-in-skills-table m-2"
            src="./assets/images/to-do-project.png"
            alt="to-do-project"
          />
          <p>
            A site where people search recipes by products they have,with
            oportunity to scan products directly throught barcodes.A project
            made with Typescript,Ionic,React and C#(.net)
          </p>
          <a
            href="https://dev.azure.com/mirunamihai0735/Proiect%20Colectiv%20332/_git/TODO"
            >link</a
          >

          <div>
            <img
              style="width: 45%; padding: 0 2.5%"
              src="./assets/images/movies-shop-website-1.png"
              alt="movies-website-project-1"
            />
            <img
              style="width: 45%; padding: 0 2.5%"
              src="./assets/images/movies-shop-website-2.png"
              alt="movies-website-project-2"
            />
          </div>
          <a href="https://github.com/cristi2019255/CinemWeb">link</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex">
      <div class="card mb-3 box-shadow align-items-center">
        <div class="card-body">
          <div class="h4">Android Developer</div>
          <p>
            Good knowledge in order to make a mobile application in Android
            studio.Also can make IOS applications throught Ionic framework.
          </p>
          <div class="h5">Languages I speak:</div>
          <ul>
            <li>Kotlin</li>
            <li>Java</li>
          </ul>
          <div>Some projects:</div>
          <ul>
            <li>
              <div>Blinked app</div>
              <p>
                <a href="https://github.com/cristi2019255/Blinked"
                  >github link</a
                ><br />
                <a
                  href="https://play.google.com/store/apps/details?id=com.BloodLinkedCluj1.blinked"
                  >PlayMarket link</a
                >
              </p>
              <p>
                An application for blood donators ( made in a team of 5 people
                ).
              </p>
            </li>
            <li>
              <div>Other mobile apps:</div>
              <a href="https://github.com/cristi2019255/mobileApplications"
                >Mobile Applications GitHub link</a
              >
              <a href="https://github.com/cinnamonbreakfast/itlabs_organizer"
                >IT labs Timisoara Mobile Project</a
              >
            </li>
          </ul>
          <img
            class="image-in-skills-table"
            src="./assets/images/bloodlinked_screen.png"
            alt="bloodlinked image"
          />
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex">
      <div class="card mb-3 box-shadow align-items-center">
        <div class="card-body">
          <div class="h4">AI(Artificial Inteligence)</div>
          <div>This is the field in witch took my licence diploma.</div>
          <div>
            I prefer to work in Python because of its libraries, however I can
            implement AI algorithms in all other languages specified in this
            portfolio.
          </div>
          <div></div>
          <div>Some projects:</div>
          <ul>
            <li>
              <a href="http://licenta2021-grosu-cristian.herokuapp.com/"
                >Application developed for my license work</a
              >
            </li>
            <li>
              <a
                href="https://drive.google.com/file/d/1oo6zx5xWJm6xQRUyzw_rsSKKK1_IRc-i/view?usp=sharing"
                >Publication at Student Scientific Communication Session
                (Conference)</a
              >
            </li>
            <li>
              <a
                href="https://drive.google.com/file/d/1Bwk-B4Ypy2nwNnLGquK7PIAM1mu26Yra/view?usp=sharing"
                >Article submitted at Mathematics scientific journal (July 2021)
              </a>
            </li>
          </ul>
          <img
            class="image-in-skills-table mb-4"
            src="./assets/images/license_result.png"
            alt="licence results"
          />
          <img
            class="image-in-skills-table mt-4"
            src="./assets/images/license_app.png"
            alt="licence app"
          />
        </div>
      </div>
    </div>
  </div>
</div>
