<div class="container skills">
  <div class="row">
    <div class="col-md-3 d-flex" (click)="openWebDevDialog()">
      <div class="card mb-3 box-shadow align-items-center">
        <div class="card-head">
          <img class="icon" src="./assets/images/web.png" alt="game-icon" />
          <div class="h4">Full-stack Web Developer</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex" (click)="openAndroidDialog()">
      <div class="card mb-3 box-shadow align-items-center">
        <div class="card-head">
          <img class="icon" src="./assets/images/android.png" alt="game-icon" />
          <div class="h4">Android Developer</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex" (click)="openAIDialog()">
      <div class="card mb-3 box-shadow align-items-center">
        <div class="card-head">
          <img class="icon" src="./assets/images/AI.png" alt="game-icon" />
          <div class="h4">AI(Artificial Inteligence)</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex" (click)="openGameDialog()">
      <div class="card mb-3 box-shadow align-items-center">
        <div class="card-head">
          <img class="icon" src="./assets/images/gamepad.png" alt="game-icon" />
          <div class="h4">Game Developer on Unity</div>
        </div>
      </div>
    </div>
  </div>
</div>
