<div mat-dialog-actions align="end">
  <button mat-dialog-close class="btn btn-outline-danger">X</button>
</div>
<mat-dialog-content class="mt-4">
  <div>This is the field in witch took my bachelor thesis.</div>
  <div>
    I prefer to work in Python because of its libraries, however I can implement
    AI algorithms in all other languages specified in this portfolio.
  </div>
  <div></div>
  <div>Some projects:</div>
  <ul>
    <li>
      <a href="http://licenta2021-grosu-cristian.herokuapp.com/"
        >Application developed for my license work</a
      >
    </li>
    <li>
      <a
        href="https://drive.google.com/file/d/1oo6zx5xWJm6xQRUyzw_rsSKKK1_IRc-i/view?usp=sharing"
        >Publication at Student Scientific Communication Session (Conference)</a
      >
    </li>
    <li>
      <a
        href="https://drive.google.com/file/d/1Bwk-B4Ypy2nwNnLGquK7PIAM1mu26Yra/view?usp=sharing"
        >Article submitted at Mathematics scientific journal (July 2021)
      </a>
    </li>
  </ul>
  <img
    class="image-in-skills-table mb-4"
    src="./assets/images/license_result.png"
    alt="licence results"
  />
  <img
    class="image-in-skills-table mt-4"
    src="./assets/images/license_app.png"
    alt="licence app"
  />
</mat-dialog-content>
