<div mat-dialog-actions align="end">
  <button mat-dialog-close class="btn btn-outline-danger">
    {{ "common.btn.close" | transloco }}
  </button>
</div>
<mat-dialog-content class="mt-4">
  <div>
    {{ "landing-page.message.skills.dialog.ai-dev.message1" | transloco }}
  </div>
  <div>
    {{ "landing-page.message.skills.dialog.ai-dev.message2" | transloco }}
  </div>

  <div class="h5 mt-3">
    {{ "landing-page.message.skills.dialog.projects-enum" | transloco }}
  </div>

  <ul>
    <li>
      <a
        href="http://licenta2021-grosu-cristian.herokuapp.com/"
        target="_blank"
        >{{
          "landing-page.message.skills.dialog.ai-dev.project1" | transloco
        }}</a
      >
    </li>
    <li>
      <a
        href="https://drive.google.com/file/d/1oo6zx5xWJm6xQRUyzw_rsSKKK1_IRc-i/view?usp=sharing"
        target="_blank"
        >{{
          "landing-page.message.skills.dialog.ai-dev.project2" | transloco
        }}</a
      >
    </li>
    <li>
      <a
        href="https://drive.google.com/file/d/1Bwk-B4Ypy2nwNnLGquK7PIAM1mu26Yra/view?usp=sharing"
        target="_blank"
        >{{ "landing-page.message.skills.dialog.ai-dev.project3" | transloco }}
      </a>
    </li>
  </ul>
  <div class="container">
    <div class="row gap-x-2">
      <div class="col-md-6 mt-2">
        <a
          href="http://licenta2021-grosu-cristian.herokuapp.com/"
          target="_blank"
        >
          <img
            class="licence-results"
            src="./assets/images/license_result.png"
            alt="licence results"
          />
        </a>
      </div>
      <div class="col-md-6 mt-2">
        <a
          href="https://drive.google.com/file/d/1Bwk-B4Ypy2nwNnLGquK7PIAM1mu26Yra/view?usp=sharing"
          target="_blank"
        >
          <img src="./assets/images/license_app.png" alt="licence app" />
        </a>
      </div>
    </div>
  </div>
</mat-dialog-content>
