@import '../../../../../styles.scss';

.slide1{
    background: linear-gradient(#928DAB, $bg-color);
}
.slide2{
    background: linear-gradient(#928DAB, $bg-color);
}
.slide4{
    background: linear-gradient(#928DAB, $bg-color);
}
.slide3{
    background: linear-gradient(#928DAB, $bg-color);
}

.slide{
    height: 60vh;
    color: $color;
}

img{
    border-radius: 10%; //20px
}