<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100 slide slide4">
      <div class="container w-100 h-100">
        <div class="row h-100 gx-4 m-auto align-items-center w-75">
          <div class="col-md-6 col-md-border">
            <img
              class="w-100"
              src="./assets/images/do-it-big.jpeg"
              alt="Do it big agency"
            />
          </div>
          <div class="col-md-6 col-md-border">
            <h3 class="h3-responsive">
              {{
                "work-experience-page.label.work-experience4.name" | transloco
              }}
            </h3>
            <h5 class="h5-responsive">
              {{
                "work-experience-page.label.work-experience4.period" | transloco
              }}
            </h5>
            <p class="h5-responsive">
              {{ "work-experience-page.label.short-description" | transloco }}
            </p>
            <p class="h5-responsive">
              {{
                "work-experience-page.label.work-experience4.description"
                  | transloco
              }}
            </p>
            <p class="h5-responsive">
              <b>{{ "work-experience-page.label.tech-stack" | transloco }} </b>
              {{
                "work-experience-page.label.work-experience4.tech-stack"
                  | transloco
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="view w-100 slide slide1">
      <div class="container w-100 h-100">
        <div class="row h-100 gx-4 m-auto align-items-center w-75">
          <div class="col-md-6 col-md-border">
            <img
              class="w-100"
              src="./assets/images/bloodlinked.png"
              alt="bloodlinked"
            />
          </div>
          <div class="col-md-6 col-md-border">
            <h3 class="h3-responsive">
              {{
                "work-experience-page.label.work-experience3.name" | transloco
              }}
            </h3>
            <h5 class="h5-responsive">
              {{
                "work-experience-page.label.work-experience3.period" | transloco
              }}
            </h5>
            <p class="h5-responsive">
              {{ "work-experience-page.label.short-description" | transloco }}
            </p>
            <p class="h5-responsive">
              {{
                "work-experience-page.label.work-experience3.description"
                  | transloco
              }}
            </p>
            <p class="h5-responsive">
              <b>{{ "work-experience-page.label.tech-stack" | transloco }} </b>
              {{
                "work-experience-page.label.work-experience3.tech-stack"
                  | transloco
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="view w-100 slide slide2">
      <div class="container w-100 h-100">
        <div class="row h-100 gx-4 m-auto align-items-center w-75">
          <div class="col-md-6 col-md-border">
            <img
              class="w-100"
              src="./assets/images/it-labs-timisoara.jpg"
              alt="it-labs-timisoara"
            />
          </div>
          <div class="col-md-6 col-md-border">
            <h3 class="h3-responsive">
              {{
                "work-experience-page.label.work-experience2.name" | transloco
              }}
            </h3>
            <h5 class="h5-responsive">
              {{
                "work-experience-page.label.work-experience2.period" | transloco
              }}
            </h5>
            <p class="h5-responsive">
              {{ "work-experience-page.label.short-description" | transloco }}
            </p>
            <p class="h5-responsive">
              {{
                "work-experience-page.label.work-experience2.description"
                  | transloco
              }}
            </p>
            <p class="h5-responsive">
              <b> {{ "work-experience-page.label.tech-stack" | transloco }} </b>
              {{
                "work-experience-page.label.work-experience2.tech-stack"
                  | transloco
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="view w-100 slide slide3">
      <div class="container w-100 h-100">
        <div class="row h-100 gx-4 m-auto align-items-center w-75">
          <div class="col-md-6 col-md-border">
            <img
              class="w-100"
              src="./assets/images/cedacri.jpg"
              alt="Cedacri international"
            />
          </div>
          <div class="col-md-6 col-md-border">
            <h3 class="h3-responsive">
              {{
                "work-experience-page.label.work-experience1.name" | transloco
              }}
            </h3>
            <h5 class="h5-responsive">
              {{
                "work-experience-page.label.work-experience1.period" | transloco
              }}
            </h5>
            <p class="h5-responsive">
              {{ "work-experience-page.label.short-description" | transloco }}
            </p>
            <p class="h5-responsive">
              {{
                "work-experience-page.label.work-experience1.description"
                  | transloco
              }}
            </p>
            <p class="h5-responsive">
              <b>{{ "work-experience-page.label.tech-stack" | transloco }} </b>
              {{
                "work-experience-page.label.work-experience1.tech-stack"
                  | transloco
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
