<div mat-dialog-actions align="end">
  <button mat-dialog-close class="btn btn-outline-danger">X</button>
</div>

<mat-dialog-content class="mt-4">
  <p>
    I like to code things from scratch, and enjoy bringing ideas to life in the
    browser.
  </p>
  <div class="h5">Languages I speak:</div>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>C# (.NET framework)</li>
    <li>React framework</li>
    <li>Java (Vaadin, Spring)</li>
  </ul>
  <div>Some projects:</div>

  <div>//Todo project (to do is the name of the project)</div>
  <img
    class="image-in-skills-table m-2"
    src="./assets/images/to-do-project.png"
    alt="to-do-project"
  />
  <p>
    A site where people search recipes by products they have,with oportunity to
    scan products directly throught barcodes.A project made with
    Typescript,Ionic,React and C#(.net)
  </p>
  <a
    href="https://dev.azure.com/mirunamihai0735/Proiect%20Colectiv%20332/_git/TODO"
    >link</a
  >

  <div>
    <img
      style="width: 45%; padding: 0 2.5%"
      src="./assets/images/movies-shop-website-1.png"
      alt="movies-website-project-1"
    />
    <img
      style="width: 45%; padding: 0 2.5%"
      src="./assets/images/movies-shop-website-2.png"
      alt="movies-website-project-2"
    />
  </div>
  <a href="https://github.com/cristi2019255/CinemWeb">link</a>
</mat-dialog-content>
