<div mat-dialog-actions align="end">
  <button mat-dialog-close class="btn btn-outline-danger">X</button>
</div>
<mat-dialog-content class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p>Game Development is a just hobby at the moment.</p>
        <p>However I can make a good indie game in Unity.</p>
        <br />
        <div class="h5">Languages I speak:</div>
        <p>C#</p>
        <div>One of my game made with Unity =></div>
      </div>
      <div class="col-6">
        <img
          class="image-in-skills-table mt-2 col-12"
          src="./assets/images/game_screenshot.jpg"
          alt="game-screenshot"
        />
      </div>
    </div>
  </div>
</mat-dialog-content>
