<div class="container slider mt-5">
  <div id="slider" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1"></li>
      <li data-target="#slider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div id="slide1" class="d-flex w-100 carousel-div-item">
          <div class="align-self-center w-100">
            <img
              class="w-50"
              src="./assets/images/utrecht_university_logo.png"
              alt="Utrecht University"
            />
            <div class="mt-5">
              <div class="h3 text-dark">
                Master degree at faculty of Computer Science
              </div>
              <div class="h5 text-dark">Utrecht University, Netherlands</div>
              <div class="h5 text-dark">September 2021 - July 2023</div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div id="slide2" class="d-flex w-100 carousel-div-item">
          <div class="align-self-center w-100">
            <img
              class="w-50"
              src="./assets/images/ubb-logo.png"
              alt="Babes Bolyai University"
            />
            <div class="mt-5">
              <div class="h3 text-dark">
                Bachelor degree at faculty of Mathematics and Computer Science
              </div>
              <div class="h5 text-dark">
                "Babes Bolyai" University, Cluj-Napoca, Romania
              </div>
              <div class="h5 text-dark">September 2018 - July 2021</div>
              <br />
              <div class="h4 text-success">Graduated</div>
              <div class="h5 text-success">
                Diploma thesis topic: Applications of artificial intelligence in
                evolutionary art.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div id="slide3" class="d-flex w-100 carousel-div-item">
          <div class="align-self-center w-100">
            <img
              style="border-radius: 20%"
              class="w-25"
              src="./assets/images/lt-vasile-alexandri.jpg"
              alt="Theoretical Lyceum Vasile Alexandri"
            />
            <div class="mt-5">
              <div class="h3 text-dark">High school "Vasile Alexandri"</div>
              <div class="h5 text-dark">Ungheni, Republic of Moldova</div>
              <div class="h5 text-dark">September 2010 - July 2018</div>
              <br />
              <div class="h4 text-success">Graduated</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#slider"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#slider"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
