<div mat-dialog-actions align="end">
  <button mat-dialog-close class="btn btn-outline-danger">
    {{ "common.btn.close" | transloco }}
  </button>
</div>
<mat-dialog-content class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          {{
            "landing-page.message.skills.dialog.android-dev.message1"
              | transloco
          }}
        </p>
        <div class="h5">
          {{ "landing-page.message.skills.dialog.languages-enum" | transloco }}
        </div>
        <ul>
          <li>{{ "common.label.kotlin" | transloco }}</li>
          <li>{{ "common.label.java" | transloco }}</li>
        </ul>
        <div class="h5">
          {{ "landing-page.message.skills.dialog.projects-enum" | transloco }}
        </div>
        <ul>
          <li>
            <a href="https://github.com/cristi2019255/Blinked" target="_blank">
              {{
                "landing-page.message.skills.dialog.android-dev.project1.name"
                  | transloco
              }}
            </a>
            {{
              "landing-page.message.skills.dialog.android-dev.project1.description"
                | transloco
            }}
          </li>
          <li>
            <a
              href="https://github.com/cristi2019255/mobileApplications"
              target="_blank"
              >{{
                "landing-page.message.skills.dialog.android-dev.project2.link"
                  | transloco
              }}</a
            >
          </li>
          <li>
            <a
              href="https://github.com/cinnamonbreakfast/itlabs_organizer"
              target="_blank"
              >{{
                "landing-page.message.skills.dialog.android-dev.project3.link"
                  | transloco
              }}</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <a
          href="https://play.google.com/store/apps/details?id=com.BloodLinkedCluj1.blinked"
          target="_blank"
        >
          <img
            class="image-in-skills-table"
            src="./assets/images/bloodlinked_screen.png"
            alt="bloodlinked image"
          />
        </a>
      </div>
    </div>
  </div>
</mat-dialog-content>
