<div mat-dialog-actions align="end">
  <button mat-dialog-close class="btn btn-outline-danger">X</button>
</div>
<mat-dialog-content class="mt-4">
  <p>
    Good knowledge in order to make a mobile application in Android studio.Also
    can make IOS applications throught Ionic framework.
  </p>
  <div class="h5">Languages I speak:</div>
  <ul>
    <li>Kotlin</li>
    <li>Java</li>
  </ul>
  <div>Some projects:</div>
  <ul>
    <li>
      <div>Blinked app</div>
      <p>
        <a href="https://github.com/cristi2019255/Blinked">github link</a><br />
        <a
          href="https://play.google.com/store/apps/details?id=com.BloodLinkedCluj1.blinked"
          >PlayMarket link</a
        >
      </p>
      <p>An application for blood donators ( made in a team of 5 people ).</p>
    </li>
    <li>
      <div>Other mobile apps:</div>
      <a href="https://github.com/cristi2019255/mobileApplications"
        >Mobile Applications GitHub link</a
      >
      <a href="https://github.com/cinnamonbreakfast/itlabs_organizer"
        >IT labs Timisoara Mobile Project</a
      >
    </li>
  </ul>
  <img
    class="image-in-skills-table"
    src="./assets/images/bloodlinked_screen.png"
    alt="bloodlinked image"
  />
</mat-dialog-content>
