<div class="default">
  <!--Languages-->
  <div class="container mt-3 mb-3 languages">
    <div class="row h-100">
      <div
        class="col-md-6 d-flex px-2 ml-2 justify-content-center align-items-center"
      >
        <div>
          <div class="h3">
            {{ "other-information-page.label.languages" | transloco }}
          </div>
          <ul class="align-self-center">
            <li>{{ "other-information-page.label.language1" | transloco }}</li>
            <li>
              {{ "other-information-page.label.language2" | transloco }}
              <ol>
                <li>
                  {{
                    "other-information-page.label.language2.additional1"
                      | transloco
                  }}
                </li>
                <li>
                  {{
                    "other-information-page.label.language2.additional2"
                      | transloco
                  }}
                </li>
              </ol>
            </li>
            <li>
              {{ "other-information-page.label.language3" | transloco }}
            </li>
            <li>
              {{ "other-information-page.label.language4" | transloco }}
            </li>
            <li>
              {{ "other-information-page.label.language5" | transloco }}
            </li>
            <li>{{ "other-information-page.label.language6" | transloco }}</li>
          </ul>
        </div>
      </div>

      <div
        class="col-md-6 d-flex align-items-center justify-content-center globe-vizulaizer"
        #globeViz
      ></div>
    </div>
  </div>

  <!--Awards-->
  <hr />
  <div id="awards">
    <div class="h3">
      {{ "other-information-page.label.publications" | transloco }}
    </div>
    <ul class="ul-no-dots">
      <li>
        {{ "other-information-page.label.publication1" | transloco }}
      </li>
      <li>
        {{ "other-information-page.label.publication2" | transloco }}
      </li>
    </ul>
  </div>
  <div class="h3">{{ "other-information-page.label.awards" | transloco }}</div>
  <ul class="ul-no-dots">
    <li>
      {{ "other-information-page.label.award1" | transloco }}
    </li>
    <li>
      {{ "other-information-page.label.award2" | transloco }}
    </li>
    <li>
      {{ "other-information-page.label.award3" | transloco }}
    </li>
    <li>
      {{ "other-information-page.label.award4" | transloco }}
    </li>
    <li>
      {{ "other-information-page.label.award5" | transloco }}
    </li>
    <li>
      {{ "other-information-page.label.award6" | transloco }}
    </li>
    <li>
      {{ "other-information-page.label.award7" | transloco }}
    </li>
    <li>
      {{ "other-information-page.label.award8" | transloco }}
    </li>
    <li>
      {{ "other-information-page.label.award9" | transloco }}
    </li>
  </ul>
</div>
<hr />
