<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Welcome to my Personal Portfolio
  <div id="theme-toggler">
    <input
      type="checkbox"
      class="checkbox"
      id="toggle-checkbox"
      (change)="changeTheme($event)"
    />
    <label for="toggle-checkbox" class="label" id="toggle-label">
      <mat-icon id="dark-theme-icon">brightness_4</mat-icon>
      <mat-icon id="light-theme-icon">brightness_5</mat-icon>
      <div class="ball" id="toggle-ball"></div>
    </label>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="../assets/images/avatar.png" />

    <h5 class="name">{{ "common.label.name" | transloco }}</h5>
    <p class="designation">{{ "common.label.designation" | transloco }}</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/">
      <mat-icon>home</mat-icon>
      <span>{{ "sidebar.label.home" | transloco }}</span>
    </button>
    <button mat-button class="menu-button" routerLink="/education">
      <mat-icon>school</mat-icon>
      <span>{{ "sidebar.label.education" | transloco }}</span>
    </button>
    <button mat-button class="menu-button" routerLink="/work-experience">
      <mat-icon>business_center</mat-icon>
      <span>{{ "sidebar.label.work-experience" | transloco }}</span>
    </button>
    <button mat-button class="menu-button" routerLink="/other-information">
      <mat-icon>info</mat-icon>
      <span>{{ "sidebar.label.other-information" | transloco }}</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/contact">
      <mat-icon>help</mat-icon>
      <span>{{ "sidebar.label.contact" | transloco }}</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
