#arrow-left{
    width: 10vw;
    height: 10vw;
}
.carousel.dark{
    box-shadow: 5px 10px 18px red;
}
.carousel{
    box-shadow: 7px 7px 8px blue;
}
.carousel{
    transition: box-shadow 0.2s linear;
}

.slider{
    margin-bottom: 50px;
}

.contacts-container .row .col-6 img{
    width: 60%;
}
.carousel-div-item{
    background: black;
    color: white;
    height: 80vh;
}
#slide1{
    background: linear-gradient(165deg,#ffc0cb,#ffd700);
}
#slide2{
    background: linear-gradient(165deg,#ffffff,#00bfff);
}
#slide3{
    background: linear-gradient(165deg,#ffffff,#EA5455);
}
