#arrow-left{
    width: 10vw;
    height: 10vw;
}
.slider{
    margin-bottom: 50px;
}
.carousel.dark{
    box-shadow: 5px 10px 18px red;
}

.carousel{
    box-shadow: 7px 7px 8px blue;
}
.carousel{
    transition: box-shadow 0.2s linear;
}

.title{
    font-weight: 700;
    font-size: 4vw;
    text-align: center;
}
.carousel-div-item{
    background: black;
    color: white;
    height: 90vh;
}
#slide1{
    background: linear-gradient(#757F9A,#D7DDE8);
}
#slide2{
    background: linear-gradient(#3D7EAA,#FFE47A);
}
#slide3{
    background: linear-gradient(#1F1C2C,#928DAB);
}
